/* COLORS */
$specialColor: #906272;
$backgroundColor: #414141;
$grayText: #525252;

/* FONT SIZE */
$header1: 2rem;
$header2: 3.5rem;
$header3: 3rem;
$header4: 2.4rem;
$text: 1.5rem;
$big: 6rem;




