<main>
    <section class="hero" id="top">
        <div class="flex hero__intro">
            <h2 class="heading hero__heading">Elena Joy <br> Photography</h2>
            <p class="text hero__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusamus ex labore voluptatibus excepturi quasi suscipit rem illo reiciendis doloribus.</p>
            <a class="link hero__link" href="#gallery">Gallery</a>
        </div>
        <div class="hero__images">
            <img class="hero__photo" src="img/elena-joy.png" alt="Photo of Elena Joy">
            <img class="plant plant-1" src="img/plant1.png" alt="">
            <img class="plant plant-2" src="img/plant2.png" alt="">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about__imagebox">
            <h5 class="about__heading5">MINIMAL</h5>
            <img class="about__image" src="img/about-image.png" alt="portrait-picture">
        </div>
        <div class="about__textbox flex">
            <h2 class="heading about__heading">Elena Joy</h2>
            <div class="about__textbox-div about__life">
                <h3 class="subheading about__subheading">My Life</h3>
                <p class="text about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reiciendis sint. Commodi, neque nobis numquam molestiae enim vero quos vitae.</p>
            </div>
            <div class="about__textbox-div about__work">
                <h3 class="subheading about__subheading">My work</h3>
                <p class="text about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reiciendis sint. Commodi, neque nobis numquam molestiae enim vero quos vitae.</p>
            </div>
            <div class="about__textbox-div about__contact">
                <h3 class="subheading about__subheading">Get in touch</h3>
                <p class="text about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reiciendis sint. Commodi, neque nobis numquam molestiae enim vero quos vitae.</p>
            </div>
        </div>
    </section>

    <section class="gallery" id="gallery">
        <header class="gallery__header">
            <h2 class="heading gallery__heading">Quality Photography</h2>
            <p class="text gallery__text">My work pictures that I took</p>
        </header>
        <img class="gallery__image gallery__image-1" src="img/gallery-1.jpg" alt="man in suite">
        <img class="gallery__image gallery__image-2" src="img/gallery-2.jpg" alt="lady in coat">
        <img class="gallery__image gallery__image-3" src="img/gallery-3.jpg" alt="lady in tshirt">
        <img class="gallery__image gallery__image-4" src="img/gallery-4.jpg" alt="lady in jacket">
    </section>

    <section class="contact" id="contact">
        <div class="contact__form-wrapper flex">
            <h2 class="heading contact__heading">Get in <br> <span class="contact__span">touch.</span></h2>
            <form class="contact__form">
                <label class="label contact__label" for="email" >Your Email:</label>
                <input class="contact__input" type="email" id="email">
                <button class="button contact__button" type="submit">Submit</button>
            </form>
        </div>   
        <img class="contact__image" src="img/contact-image.jpg" alt="elena-joy">
    </section>
</main>